html {
    font-size: 10px;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    background: #FFFFFF;
}

header {
    width: 100%;
    height: 4.8rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6.4rem;
    align-items: center;
    box-sizing: border-box;
    padding: 0 2.4rem;
    padding-top: 2.3rem;
}

.btn-header {
    width: 15rem;
    height: 4.8rem;
    background: #E8EFF2;
    border-radius: 0.8rem;
    border: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: #162542;
}


/* Typography */

.content>h1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 4.8rem;
    line-height: 4.8rem;
    text-transform: uppercase;
    color: #162542;
    padding-left: 2.4rem;
}

.content>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #7B8BAD;
    padding-left: 2.4rem;
}

.btn-main {
    width: 15rem;
    height: 4.8rem;
    background: #F16718;
    border-radius: 0.8rem;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
}

.button-main {
    padding-left: 2.4rem;
}

.keyboard {
    padding-left: 2.4rem;
}

.button-main>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-transform: uppercase;
    color: #7B8BAD;
    padding-right: 2.4rem;
}

.text>h2 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 3.2rem;
    line-height: 3.6rem;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
}

.text>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    color: #7B8BAD;
}

.compatible>h3,
.wireless>h3,
.battery>h3,
.rgb-modes>h3 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
}

.compatible>p,
.wireless>p,
.battery>p,
.rgb-modes>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    color: #7B8BAD;
}

.card-logo {
    width: 6.5rem;
    height: 6.5rem;
    background: #F16718;
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.4rem;
}

footer>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #7B8BAD;
}


/* Positioning */

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    /* padding-left: 4rem; */
}

.keyboard>img {
    width: 37.2rem;
    height: 33.1rem;
    border-radius: 2rem 0 0 2rem;
    margin-bottom: 2.4rem;
}

.bg-wrap {
    width: 12.9rem;
    height: 19.3rem;
    background-image: url(./assets/mobile/image-phone-and-keyboard.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #F16718;
    background-blend-mode: multiply;
    opacity: 0.75;
    border-radius: 0 2rem 2rem 0;
    margin-left: -2.4rem;
    filter: contrast(1.4);
}

.mobile-img2 {
    width: 22rem;
    height: 19.3rem;
    border-radius: 2rem;
    margin-left: 2.4rem;
}

.pre-order {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
    box-sizing: border-box;
    /* padding: 0 2.4rem; */
    overflow-x: hidden;
}

.button-main {
    display: flex;
    gap: 3.2rem;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.2rem;
    width: 100%;
}

.img {
    margin-bottom: 7.5rem;
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.4rem;
    gap: 2.4rem;
    margin-bottom: 11.1rem;
}

.text>h2 {
    padding: 0 6rem;
}

.cards>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    margin-bottom: 6.4rem;
    padding: 0 2.4rem;
}

footer {
    margin-top: 3.2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.tablet-img1,
.desktop-img1,
.tablet-img2,
.desktop-img2 {
    display: none;
}


/* Responsive design for tablet version */

@media screen and (min-width: 768px) {
    .mobile-img1,
    .mobile-img2 {
        display: none;
    }
    .tablet-img1,
    .tablet-img2 {
        display: block;
    }
    header {
        padding: 4rem 4rem 0 4rem;
        margin-bottom: 6.2rem;
        height: 5.8rem;
    }
    .btn-header {
        width: 17.5rem;
    }
    .pre-order {
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        align-items: center;
        margin-bottom: 4rem;
    }
    .content>h1 {
        padding-left: 4rem;
    }
    .content>p {
        padding-left: 4rem;
    }
    .button-main {
        padding-left: 7rem;
    }
    .button-main>p {
        padding-right: 4rem;
    }
    .keyboard {
        background-image: url(./assets/tablet/image-keyboard.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 42.5rem;
        border-radius: 2rem 0 0 2rem;
    }
    .bg-wrap {
        width: 21.4rem;
        height: 32rem;
        border-radius: 2rem;
        margin-left: 4rem;
        background-image: url(./assets/tablet/image-phone-and-keyboard.jpg);
    }
    .img {
        gap: 3rem;
        margin-bottom: 7.2rem;
    }
    .tablet-img2 {
        width: 44.5rem;
        height: 32rem;
        border-radius: 2rem;
    }
    .text {
        flex-direction: row;
        gap: 3.6rem;
        align-items: center;
        margin-bottom: 14.2rem;
    }
    .text>h2 {
        padding: 0;
        text-align: left;
        padding-left: 2rem;
    }
    .text>p {
        text-align: left;
    }
    .cards>div {
        width: 28.1rem;
        height: 28.9rem;
        margin-bottom: 7.2rem;
        padding-left: 4rem;
        align-items: flex-start;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
    }
    .compatible>h3,
    .wireless>h3,
    .battery>h3,
    .rgb-modes>h3 {
        text-align: left;
    }
    .compatible>p,
    .wireless>p,
    .battery>p,
    .rgb-modes>p {
        text-align: left;
    }
}


/* Responsive styles for desktop version */

@media screen and (min-width:1440px) {
    body {
        background-image: url(./assets/shared/pattern-square.svg);
        background-repeat: no-repeat;
        background-position: top 20rem left 110%;
    }
    html {
        overflow-x: hidden;
    }
    .img {
        background-image: url(./assets/shared/pattern-square.svg);
        background-repeat: no-repeat;
        background-position: top 24rem right 120%;
    }
    header {
        justify-content: space-between;
        padding: 5.5rem 16.5rem 8.3rem 16.5rem;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pre-order {
        gap: 12.5rem;
        margin-bottom: 3rem;
        width: 100%;
        justify-content: space-evenly;
    }
    .content {
        width: 44.5rem;
        height: 31.2rem;
    }
    .button-main {
        justify-content: flex-start;
    }
    .keyboard {
        background-image: url(./assets/desktop/image-keyboard.jpg);
        width: 54rem;
        height: 48rem;
        border-radius: 2rem;
        padding: 0;
    }
    /* Typography */
    .content>h1 {
        font-size: 5.6rem;
        line-height: 5.6rem;
    }
    .content>p {
        font-size: 1.8rem;
    }
    .text>h2 {
        padding: 0;
    }
    /* Positioning */
    .bg-wrap {
        width: 25.5rem;
        height: 48rem;
        background-image: url(./assets/desktop/image-phone-and-keyboard.jpg);
        margin-left: 16.5rem;
    }
    .tablet-img2 {
        display: none;
    }
    .desktop-img2 {
        display: block;
        width: 44.5rem;
        height: 48rem;
        border-radius: 2rem;
    }
    .img-text {
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: 100%;
        margin-bottom: 16.8rem;
    }
    .text {
        width: 25.5rem;
        height: 26.5rem;
        flex-direction: column;
        gap: 2.7rem;
        flex-direction: column;
        margin: 12.2rem 16.5rem 0 12.5rem;
    }
    .cards {
        display: flex;
    }
    /* Hover styles */
    .btn-header:hover {
        cursor: pointer;
        background: #162542;
        color: white;
    }
    .btn-main:hover {
        cursor: pointer;
        background: #FF9B62;
    }
}